{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/teachers">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/517198/500x500) no-repeat  center center / cover"></section>
    <section class="details">
       
        <h3>Novo Instrutor</h3>

        <div class="item">
            <div>Avatar URL</div>
            <div>
                <input 
                    type="url"
                    name="avatar_url"
                    placeholder="http:///"
                >
            </div>
        </div>

        <div class="item">
            <div>Nome completo</div>
            <div>
                <input 
                    type="text"
                    name="name"
                    placeholder="Nome do Professor"
                >
            </div>
        </div>

        <div class="item">
            <div>Data de nascimento</div>
            <div>
                <input
                    type="date"
                    name="birth"
                >
            </div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>
                <select name="grade">
                    <option value="medio" selected>Ensino Médio Completo</option> 
                    <option value="superior"> Ensino Superior Completo</option>
                    <option value="mestrado">Mestrado e Doutorado </option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>
                <span><input type="radio" name="type" value="presencial" checked>Prensencial</span>
                <span><input type="radio" name="type" value="distância">À distância</span>
            </div>
        </div>

        <div class="item">
            <div>Área de atuação</div>
            <div>
                    <input 
                        type="text"
                        name="occupation "
                        placeholder="Separe as matérias por vírgula"
                    >
            </div>
        </div>

        <button type="submit">Salvar</button>

    </section>
</form>

{% endblock %}
