{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
  <div class="header">
        <a class="button" href="/teachers/create">Novo</a>
        
        <form action="/teachers" method="GET">
            <input 
                type="text" 
                name="filter"
                placeholder="Nome ou Atendimento"
                value={{filter}}
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>
    
    <table width="100%">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Acompanhamento</th>
                <th>Alunos</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url({{teacher.avatar_url}})"></span>
                    {{teacher.name}}
                </td>
                <td>{{teacher.subjects_taught}}</td>
                <td>{{teacher.total_students}}</td>
                <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination" 
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>

</div>

{% endblock %}
