{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/517198/500x500) no-repeat  center center / cover"></section>
    <section class="details">
        <h3>Detalhes</h3>
        <div class="item">
            <div>Professor</div>
            <div>Juliana Saraiva</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>24</div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>Doutorado</div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>Presencial </div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                    <span>Matemática </span>
                    <span>Física</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>24/06/2019</div>
        </div>
    </section>
</div>

{% endblock %}
