{% extends "layout.njk" %}
{% block head %}
<title>LaunchBase - Rocketseat</title>
{% endblock %}
{% block content %}
<div class="main" id="launchbase">
    <div class="card__image-container"> 

        <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="Imagem de LaunchBase">
   
    </div>
    <div class="main__content">

        <h1><b class="strong-launch">Domine programação do zero</b> e tenha acesso às melhores oportunidades do mercado no menor tempo possível.</h1>
        <p >Inscrições encerradas. <b class="strong-launch">Garanta sua vaga </b> na próxima turma!</p >

    </div>
</div>
<div class="description">
    <div class="title">

        <h1>Perguntas e respostas mais frequentes</h1>

    </div>
    <article class="text">

        <h2>01. Como funciona o LaunchBase</h2>
        <p>O bootcamp é 100% online com aulas gravadas em vídeo e liberadas semana a semana de acordo com o nosso cronograma. E como bônus você ainda vai ter acesso a aulas especiais ao vivo, que também ficam gravadas pra você acompanhar no seu ritmo e no horário que for melhor pra você.</p>

    </article>
    <article class="text">

        <h2>02. Não sei nada de programção, o LaunchBase é pra mim</h2>
        <p>Sim! No LaunchBase você vai aprender do zero tudo o que precisa para construir suas próprias aplicações e ficar pronto suas primeiras oportunidades como programador.</p>
        
    </article>
    <article class="text">

        <h2>03. Já sei programar, o LaunchBase é pra mim?</h2>
        <p>Se você ainda não se sente seguro para encarar os desafios no mundo real, talvez o LaunchBase seja para você. Lembrando que você tem 30 dias de garantia para tirar suas próprias conclusões.</p>

    </article>
        <article class="text">

        <h2>04. O LaunchBase oferece certificado?</h2>
        <p>Sim, o certificado é entregue após o cumprimento de todas as atividades, incluindo o desafio final, garantindo que você dominou as ferramentas e apresentando o seu desempenho durante o bootcamp. Ou seja, esse não é um certificado de participação, e sim uma certificação.</p>

    </article>
        <article class="text">

        <h2>05. Quando será próxima turma?</h2>
        <p>Para ficar por dentro de todas as datas e ser avisado para não perder os prazos de inscrição, basta se cadastrar nessa página e reservar sua vaga. Assim você garante que não vai ficar de fora na próxima turma.</p>

    </article>
</div>
{% endblock %}