{% extends "layout.njk" %}
{% block head %}
<title>Error 404 - Rocketseat</title>
{% endblock %}
{% block content %}
<div class="page-not-found">
    <h1>404 ERROR</h1>
    <h2>Está página não existe</h2>
    <p>Se quiser voltar para a página inicial,<a href="/"> é só clicar aqui.</a> </p>
</div>
{% endblock %}