{% extends "layout.njk" %}
{% block head %}
<title>Starter - Rocketseat</title>
{% endblock %}
{% block content %}
<div class="main" id="launchbase">
    <div class="card__image-container"> 

        <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Imagem de LaunchBase">
   
    </div>
    <div class="main__content">

        <h1><b class="strong-starter">Cursos 100% online e gratuitos</b> para você entrar com o pé direito nas tecnologias mais desejadas do mercado.</h1>
        <p >Descubra o caminho para dominar a <b class="strong-starter">OmniStack.</b></p >

    </div>
</div>
<div class="description">
    <div class="title">

        <h1>Perguntas e respostas mais frequentes</h1>

    </div>
    <article class="text">

        <h2>01. Construa a base da sua aplicação no back-end?</h2>
        <p>Para controlar a lógica e os dados das aplicações web e mobile</p>

    </article>
    <article class="text">

        <h2>02. Desenvolva a versão web da sua aplicação?</h2>
        <p>Para construir interfaces responsivas e dinâmicas no front-end</p>
        
    </article>
    <article class="text">

        <h2>03. Crie as versões mobile da sua aplicação?</h2>
        <p>Para desenvolver apps para iOS e Android com interface nativa</p>

    </article>
</div>
{% endblock %}