<div class="input-wrapper" id="title">
    <div><h2>Nome</h2></div>
    <div>
        <input 
            type="text" 
            name="name" 
            placeholder="Coloque seu nome."
            value="{{item.name}}"
        >
    </div>
</div>

<div class="input-wrapper" >
    <div><h2>Avatar</h2></div>
    <div>
        <input 
            type="url" 
            name="avatar_url" 
            placeholder="http://"
            value="{{item.avatar_url}}"
        >
    </div>
</div>