{% extends "../layout.njk" %}

{% block head %}
    <title>Admin - Chefs</title>
{% endblock %}

{% block content %}
    <section id="section-admin">
        <div class="upper-wrapper" id="upper-wrapper-button">
            <h1>Gerenciar Chefs</h1>
            <a href="/admin/chefs/create" id="admin-create-button">Criar chef</a>
        </div>
        <div class="receipts" id="receipts-admin">
            {% for item in items %}
                <article class="receipt" id="receipt-admin"> 
                    <div class="receipt__image-container" id="receipt__admin-container">

                        <img src="{{item.avatar_url}}" alt="Imagem de {{item.name}}"  id="receipt-img"  >
                    
                    </div>
                    <div class="receipt__content" id="receipt__content-admin">

                        <p class="receipt__content-receipt">{{item.name}}</p>
                        <p class="receipt__content-chef">{{item.total_recipes}}</p>
                        <a href="/admin/chefs/{{item.id}}" class="receipt__content-see">Visualizar</a>

                    </div>
                    {% if item.recipeIndex %}
                    {% endif %}
                </article>
            {% endfor %}
        </div>
    
        <div class="pagination" 
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
        
    </section>

{% endblock %}