{% extends "../layout.njk" %}

{% block head %}
    <title>Chef - {{chef.name}}</title>
{% endblock %}

{% block content %}
    <main class="receipt-page" id="admin-show">
        <div class="upper-wrapper" id="upper-wrapper-button">
            <h1>Chef: {{chef.name}}</h1>
            <a href="/admin/chefs/{{chef.id}}/edit" id="admin-edit-button">Editar chef</a>
        </div>
        <div class="banner-container">
            <div class="receipt__image" id="admin-image">

                <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">

            </div>
            <div class="banner-content" >

                <h1>{{chef.name}}</h1>
                <p>{{chefs.total_recipes}}</p> 

            </div>
        </div>
        <article class="receipt" id="receipt-admin"> 
            <div class="receipt__image-container" id="receipt__admin-container">

                <img src="{{chef.receipt.image}}" alt="Imagem de {{chef.receipt.title}}"  id="receipt-img"  >
            
            </div>
            <div class="receipt__content" id="receipt__content-admin">

                <p class="receipt__content-receipt">{{chef.name}}</p>
                <p class="receipt__content-chef">por {{chef.total_recipes}}</p>
                <a href="/admin/chefs/{{chef.total_recipes}}" class="receipt__content-see">Visualizar</a>

            </div>
            {% if chef.recipeIndex %}
            {% endif %}
        </article>
    </main>
{% endblock %}