{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <table width="100%">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Acompanhamento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url({{teacher.avatar_url}})"></span>
                    {{teacher.name}}
                </td>
                <td>{{teacher.occupations}}</td>
                <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
