{% extends "layout.njk" %}

{% block head %}
    <title>Home - Foodfy</title>
{% endblock %}
{% block filter %}
    <form action="/search" method="GET" class="filter-foodfy">
        <input 
            type="text" 
            name="filter"
            placeholder="Buscar uma receita"
            value={{filter}}
        >
        <button type="submit">Buscar</button>
    </form>
{% endblock %}
{% block content %}
  
    <main class="home">
        <div class="home-content">
        <div class="title-subtitle">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>

        <img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/layouts/assets/chef.png" alt="Foodfy chef">

        </div>
    </main>
    <section>
        <div class="wrapper">
            <h1>Mais acessadas</h1>
        </div>
        <div class="receipts">
            {% for recipe in recipes %}
                <article class="receipt"> 
                    <div class="receipt__image-container">

                          <a href="/recipes/{{recipe.id}}" >
                          <img  
                              {% for id in ids %}
                                {% if recipe.id === id.recipe_id %}
                                    {% for image in files%}
                                        {% if image.id === id.file_id %}
                                            src="{{image.src}}" 
                                            alt="{{image.name}}"
                                            {% elseif image.src == "" %}
                                            src="http://placehold.it/600x300?text=PRODUTO SEM FOTO"
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            class="receipt-img" 
                        ></a>
                    
                    </div>
                    <div class="receipt__content">

                        <p class="receipt__content-receipt">{{recipe.title}}</p>
                        <p class="receipt__content-chef">por {{recipe.chef_name}}</p>

                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}