{% extends "layout.njk" %}

{% block head %}
    <title>Buscando por: {{filter}} - Foodfy</title>
{% endblock %}

{% block filter %}
    <form action="/search" method="GET" class="filter-foodfy">
        <input 
            type="text" 
            name="filter"
            placeholder="Buscar uma receita"
            value={{filter}}
        >
        <button type="submit" class="button">Buscar</button>
    </form>
{% endblock %}

{% block content %}
    <section>          
       <div id="foodfy-recipes-title">

            <h1>Buscando por: "{{filter}}"</h1>
 
        </div>
        
        <div class="receipts">
            {% for recipe in recipes %}
                <article class="receipt" > 
                    <div class="receipt__image-container">

                    <a href="/recipes/{{recipe.id}}" >
                        <img  
                            src="{{recipe.src}}" 
                            alt="Imagem de {{recipe.id}}"
                            class="receipt-img"  
                        >
                    </a>
                    
                    </div>
                    <div class="receipt__content">

                        <p class="receipt__content-receipt">{{recipe.title}}</p>
                        <p class="receipt__content-chef">por {{recipe.chef_name}}</p>

                    </div>
                    {% if recipes.recipeIndex %}
                    {% endif %}
                </article>
            {% endfor %}
        </div>

        <div class="pagination" 
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}  
        ></div>
    </section>
{% endblock %}