{% if error %}
    <div class="messages error">
        {{error}}
    </div>
{% endif %}

{% if success %}
    <div class="messages success">
        {{success}}
    </div>
{% endif %}

{% if error %}
    <div class="input-wrapper">
    <div class="input">
    </div>
    </div>
{% endif %}