{% extends './layout.njk' %}

{% block head %}

    <title>Criação - Admin</title>

{% endblock %}

{% block content%}
    <section class="create-wrapper">

        <div class="upper-wrapper">
            <h1>Criando receita</h1>
            <button type="submit">Salvar receita</button>
        </div>

        <form  method="POST" action="/admin">

            {% include 'admin/fields.njk' %}

        </form>
    </section>
{% endblock %}