{% extends './layout.njk' %}

{% block head %}

    <title>Criação - Admin</title>

{% endblock %}

{% block content%}

   <form class="create-wrapper" method="POST" action="/admin">

        {% include 'admin/fields.njk' %}

   </form>

{% endblock %}