<div class="links" id="links-footer">
    <a href="https://www.facebook.com/rocketseat">Facebook</a>
    <a href="https://github.com/Rocketseat">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial/">Instagram</a>
    
    <div>
        <p>Residencial Acalanto - R. Guilherme Gemballa, 260 - Sala 3 - Jardim América, Rio do Sul - SC, 89160-188</p>
        <p>Rocketseat © 2020 - Todos os direitos reservados</p> 
    </div>
</div>
