@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --primary-color: #5fc0ff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #F5F6FD;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    color: rgb(114, 114, 114);
    text-decoration: none;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}