{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section 
        class="avatar" 
        style="background: url({{student.avatar_url}}) no-repeat  center center / cover">
    </section>

    <section class="details">
        <form  method="POST" action="/students?_method=PUT">
            <h3>Editar Estudante</h3>

            {% include 'students/fields.njk' %}

            <input 
                type="hidden" 
                name="id" 
                value={{student.id}}>
        </form>

        <form id="form-delete" action="/students?_method=DELETE" method="POST">
            <input type="hidden" name="id" value={{student.id}}>
            <button type="submit">Deletar</button>
        </form>
    </section>
</div>

{% include 'confirm.njk'%}

{% endblock %}
