{% extends "../layout.njk" %}

{% block head %}
    <title>Admin - Receitas</title>
{% endblock %}

{% block content %}
    <section id="section-admin">
        <div class="upper-wrapper" id="upper-wrapper-button">
            <h1>Gerenciar Receitas</h1>
            
            <a href="/admin/recipes/create" id="admin-create-button">Criar Receita</a>
        </div>
        <div class="receipts" id="receipts-admin">
            {% for recipe in recipes %}
                <article class="receipt" id="receipt-admin"> 
                    <div class="receipt__image-container" id="receipt__admin-container">
                        <img
                            src="{{recipe.img}}" 
                            alt="{{recipe.title}}"
                            {% if recipe.img == "" %}
                            src="http://placehold.it/600x300?text=PRODUTO SEM FOTO"
                            {% endif %}
                        >
                    </div>
                    <div class="receipt__content" id="receipt__content-admin">

                        <p class="receipt__content-receipt">{{recipe.title}}</p>
                        <p class="receipt__content-chef">por {{recipe.chef_name}}</p>
                        <a href="/admin/recipes/{{recipe.id}}" class="receipt__content-see">Visualizar</a>

                    </div>
                    {% if recipes.recipesIndex %}
                    {% endif %}
                </article>
            {% endfor %}
        </div>
        
    </section>

{% endblock %}