{% extends "layout.njk" %}
{% block head %}
<title>Descrição - Rocketseat</title>
{% endblock %}
{% block content %}
<div id="wrapper">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRDBed9se7UE25MhFOY8N2dMFbPEoILsNmBp0ff3OiP4dgTIstK" alt="Logo-Rocketseat">
    <h1>Rocketseat</h1>
</div>
<div class="list">
    <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
    <ul>
        <li>Javascript</li>
        <li>Node.js</li>
        <li>React</li>
        <li>React Native</li>
    </ul>
</div>
{% endblock %}