<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
        <title>Rocketseat</title>
        {% endblock %}
        <link rel="stylesheet" href="../styles.css">
        <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <header>
            <div class="links">
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
                <a href="/">Sobre</a>
                <a href="/courses">Conteúdos</a>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <div class="links" id="links-footer">
            <a href="https://www.facebook.com/rocketseat">Facebook</a>
            <a href="https://github.com/Rocketseat">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/">Instagram</a>
        </div>
    </body>
</html>