{% extends "layout.njk" %}
{% block head %}
<title>Descrição - Rocketseat</title>
{% endblock %}
{% block content %}
<div id="wrapper">
    <img src="{{about.company_url}}" alt="Logo-Rocketseat">
    <h1>{{about.company}}</h1>
</div>
<div class="list">
    <h2>{{about.description}}</h2>
    <ul>
    {% for technology in about.technologies %}
        <li>{{technology.name}}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}