<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url"
            name="avatar_url"
            placeholder="http:///"
            value="{{teacher.avatar_url}}"
        >
    </div>
</div>

<div class="item">
    <div>Nome completo</div>
    <div>
        <input 
            type="text"
            name="name"
            placeholder="Nome do Professor"
            value="{{teacher.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>   
    <div>
        <input
            type="date"
            name="birth_date"
            value="{{teacher.birth_date}}"
        >
    </div>
</div>

<div class="item">
    <div>Grau de escolaridade</div>
    <div>
        <select name="education_level">
            <option 
                value="medio" 
                {% if teacher.education_level == 'medio' %}
                    selected
                {% endif %}
                >Ensino Médio Completo
            </option> 
            <option 
                value="superior"
                {% if teacher.education_level == 'superior' %}
                    selected
                {% endif %}
                >Ensino Superior Completo
            </option>
            <option 
                value="mestrado"
                {% if teacher.education_level == 'mestrado' %}
                    selected
                {% endif %}
                >Mestrado e Doutorado 
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de aula</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="class_type" 
                value="Presencial"
                {% if teacher.class_type == 'Presencial' %} 
                    checked
                {% endif %}
                >Prensencial
        </span>
        <span>
            <input 
                type="radio" 
                name="class_type" 
                value="À distância"
                {% if teacher.class_type == 'À distância' %}
                    checked
                {% endif %}
                >À distância
        </span>
    </div>
</div>

<div class="item">
    <div>Área de atuação</div>
    <div>
            <input 
                type="text"
                name="subjects_taught"
                placeholder="Separe as matérias por vírgula"
                value="{{teacher.subjects_taught}}"
            >
    </div>
</div>

<button type="submit">Salvar</button>
