<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/dropdown.css">
<link rel="stylesheet" href="/styles/session.css">
<link rel="stylesheet" href="/styles/card.css">
<link rel="stylesheet" href="/styles/users.css">
<link rel="stylesheet" href="/styles/products.css">
<link rel="stylesheet" href="/styles/order.css">
<link rel="stylesheet" href="/styles/cart.css">