{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat  center center / cover"></section>
    <section class="details">
        <h3>Detalhes</h3>
        <div class="item">
            <div>Instrutor</div>
            <div>Guilherme Saraiva</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>29</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                    <span>Musculação</span>
                    <span>Crossfit</span>
            </div>

        </div>

        <div class="item">
            <div>Desde</div>
            <div>01/01/2019</div>
        </div>
    </section>
</div>

{% endblock %}
