{% extends 'layout.njk' %}

{% block content %}

    <div class="card register">
        <div class="remove-lottie"></div>
        <h2>Seu registro foi deletado com Sucesso!</h2>
        <p>
                Clique <a href="/">aqui</a> para voltar ao ínico.
        </p>
    </div>

    <script src="/lottie.min.js"></script>

    <script>
        const element = document.querySelector('.remove-lottie')
    
        lottie.loadAnimation({
            container: element,
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: '/1331-done.json' 
        })
    </script>

{% endblock %}