{% extends "../layout.njk" %}

{% block head %}
    <title>Admin - Receitas</title>
{% endblock %}

{% block content %}
    <section id="section-admin">
        <div class="upper-wrapper" id="upper-wrapper-button">
            <h1>Gerenciar Receitas</h1>
            
            <a href="/admin/recipes/create" id="admin-create-button">Criar receita</a>
        </div>
        <div class="receipts" id="receipts-admin">
            {% for recipes in recipes %}
                <article class="receipt" id="receipt-admin"> 
                    <div class="receipt__image-container" id="receipt__admin-container">

                        <img src="{{recipes.image}}" alt="Imagem de {{recipes.title}}"  id="receipt-img"  >
                    
                    </div>
                    <div class="receipt__content" id="receipt__content-admin">

                        <p class="receipt__content-receipt">{{recipes.title}}</p>
                        <p class="receipt__content-chef">por {{recipes.chef_name}}</p>
                        <a href="/admin/recipes/{{recipes.id}}" class="receipt__content-see">Visualizar</a>

                    </div>
                    {% if recipes.recipesIndex %}
                    {% endif %}
                </article>
            {% endfor %}
        </div>
        
    </section>

{% endblock %}