{% extends '../layout.njk' %}

{% block head %}

    <title>Edição - {{recipe.title}}</title>

{% endblock %}

{% block content%}
    <section class="create-wrapper">
        <div class="edit-upper-wrapper">
            <h1>Editando receita</h1>
        
            <form method="POST" action="/admin/recipes?_method=DELETE" id="form-delete">
                <input type="hidden" name="id" value={{recipe.id}}>

                <button type="submit">Deletar</button>
            </form>

            <button type="submit" form="form-edit">Salvar receita</button>
        </div>
            <form method="POST" action="/admin/recipes?_method=PUT" id="form-edit" enctype="multipart/form-data">
                {% include 'admin/recipes/fields.njk' %}

                <input 
                    type="hidden" 
                    name="id" 
                    value={{recipe.id}}
                >
            </form>   
        </div>
    </section>

    {% include 'confirm.njk' %}

{% endblock %}