{% extends "layout.njk" %}

{% block head %}
    <title>Admin - Chefs</title>
{% endblock %}

{% block filter%}
{%endblock%}

{% block content %}
    <section id="foodfy-chefs">
        <div class="chefs__container">
            {% for chef in chefs %}
                <article class="chef__container"> 
                    <div class="chef-image__container">

                        <a href="/chefs/{{chef.id}}" class="receipt__content-see">
                            <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
                        </a>
                    
                    </div>
                    <div class="chef-text__container">

                        <p>{{chef.name}}</p>
                        <p>{{chef.total_recipes}} receitas</p>

                    </div>
                    {% if chefs.recipeIndex %}
                    {% endif %}
                </article>
            {% endfor %}
        </div>
    </section>

{% endblock %}